[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dispeRse"]
	path = dispeRse
	url = https://github.com/jgregoriods/disperse
[submodule "spDates"]
	path = spDates
	url = https://github.com/jgregoriods/spdates
